<div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Posts</h1>
            <ul class="list-group">
                <app-post-list-item [ngClass]="{'list-group-item': true,
                  'list-group-item-success': post.loveIts > 0,
                  'list-group-item-danger': post.loveIts < 0}" 
                  *ngFor="let post of postsArray" [postItem]="post">
                </app-post-list-item>
            </ul>
          </div>
        </div>
      </div>